<?xml version="1.0" encoding="utf-8"?>
<plugin 
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-device-fingerprint"
  version="1.0.0">

  <name>FingerPrint</name>

  <engines>
    <engine name="cordova" version=">=7"/>
  </engines>

  <author email="chernyshovsup@gmail.com">Pavel Chernyshov</author>

  <js-module src="www/fingerprint.js" name="FingerPrint">
    <clobbers target="fingerprint" />
  </js-module>

  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
      <feature name="FingerPrint">
        <param name="android-package" value="org.apache.cordova.plugin"/>
      </feature>
    </config-file>

    <source-file src="src/org/apache/cordova/plugin/FingerPrint.kt" target-dir="app/src/main/src/org/apache/cordova/plugin"/>
    <source-file src="src/Online-build.gradle" target-dir="../../cordova-plugin-device-fingerprint"/>
  </platform>
</plugin>